<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>XXX_MODULE</title>
    <style>
     html, body {
         padding: 0;
         margin: 0;
         height: 100%;
         width: 100%;
     }

     body {
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
     }

     #canvas {
         box-shadow: 3px 3px 10px black;
         margin: auto auto;
     }
    </style>
  </head>
  <body>
    <section>
      <h1>XXX_MODULE</h1>
      <p>Size of <code>.wasm</code> = <code>XXX_WASM_SIZE</code> bytes</p>
      <p>Size of <code>.js</code> glue = <code>XXX_JS_SIZE</code> bytes</p>
      <p><b>Total size = <code>XXX_TOTAL_SIZE/65536</code> bytes</b></p>
      <p><a href="XXX_SOURCE">Source</a></p>
    </section>
    <canvas id="canvas"></canvas>
    <script src="./bootstrap.js"></script>
  </body>
</html>
